<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="/fonts/RobotoSlab-Regular-webfont.woff" as="font" type="font/woff" >
    <link rel="preload" href="/fonts/RobotoSlab-Light-webfont.woff" as="font" type="font/woff" >
    <link rel="stylesheet" href="/style/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>