---
title: VoynichSC
layout: layouts/base.njk
---

<header class="header">
  <a class="header__link" href="/">VoynichSC</a>
  <div class="header__sub-title">Voynich Studies Cologne</div>
</header>

<a class="back-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg> 
<span>zurück</span></a>

<section class="topic-header">
  <h1>{{ title }}</h1>
</section>

<main class="main-content">

    <figure class="video-wrapper">
      <video preload="metadata" controls>
        <source src="{{ video }}" type="video/mp4">
      </video>
      {# <figcaption class="video-caption">Video zu {{ title }}</figcaption> #}
    </figure>

    <script>
      const markers = [
        {%- for chapter in chapters -%}
          {
            "time": {{ chapter.time }},
            "title": "{{chapter.title | safe }}"
          },
        {%- endfor -%}];
    </script>
    <div
      class="content-section chapter-timeline"
    >
      <div class="timeline-inner">
        <svg xmlns="http://www.w3.org/2000/svg" class="timeline-svg-desktop">
          <defs>
            <mask id="mask">
              <rect width="100%" height="100%" x="-100%" y="0" fill="#fff"/>
            </mask>
          </defs>

          <rect class="timeline-background" width="100%" height="5px" y="20" rx="2.5" />

          <g class="mask-g" mask="url(#mask)">
            <rect class="timeline-background-fill" width="100%" height="5px" y="20" rx="2.5" />
          </g>	
        </svg>
        <div class="time-links">
          <div></div>
        </div>
      </div>

      <template id="time-link">
        <div class="time-link">
          <div class="timecode"></div>
          <div class="title"></div>
        </div>
      </template>
    </div>

    <section class="content-section">
      <aside class="links">
        <h2>Links</h2>
            {%- for link in links -%}
              <a class="link" target="_blank" href="{{link.href}}"><span>{{ link.text }}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
              </a>
            {%- endfor -%}
      </aside>

      <h2>{{ title }}</h2>

      {{ content | safe }}
    
      {# <h3>Quellen und Verweise</h3>
      <ul>
        {%- for source in sources -%}
          <li>{% markdown %}{{ source.text }}{% endmarkdown %}</li>
        {%- endfor -%}
      </ul> #}


    </section>
</main>